<html>
<head>
  <title>Quiz sample</title>
  <script src="https://unpkg.com/vue"></script>
  <meta name="viewport" content="width=device-width">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link href="./style/style.css" rel="stylesheet">
</head>
<body>
<header><p>sample</p></header>
<main id="app">
    <section class="question" v-if="result == 0">
        <h1>もんだい</h1>
        <div class="container">
            <p>このもんだいの こたえは {{str_ex}} だよ。</p>
        </div>
    </section>
    <section class="answer">
        <button class="maru" onclick="doAction(0)" v-if="visible_o"><div class="symbol"><div class="circle"></div></div></button>
        <button class="batsu" onclick="doAction(1)" v-if="visible_x"><div class="symbol"><div class="cross1"></div><div class="cross2"></div></div></button>
    </section>

    <section class="correct" v-if="result == 1">
        <h1>せいかい</h1>
        <div class="container">
            <p>やったね。<br>こたえは {{str_ex}} でした。</p>
            <p><a :href="next_path">>>　つぎのもんだいへ</a></p>
        </div>
    </section>
    <section class="retry"  v-if="result == 2">
        <h1>そうかな？</h1>
        <div class="container">
            <p>もういちど よくかんがえてみよう。<br>{{str_ex}} は どちらかな？</p>
        </div>
        <div class="answer">
            <button class="retry" onclick="doRetry()">もういちど</button>
        </div>
    </section>
    <section class="data">
        <div class="container">

        </div>
    </section>
</main>
<footer>
    <p><small>音源: 効果音ラボ https://soundeffect-lab.info/ より</small></p>
    <p><small>&copy;2020 nanika-e-idea LLC</small></p>
</footer>
<script>
    var expected = 1;
    var data = {
        result: 0,
        expected: expected,
        visible_o: true,
        visible_x: true,
        str_ex: '×',
        next_path: 'q01.html',
    };
    var app= new Vue({
      el: '#app',
      data: data
    });
    function doAction(select) {
      if (select == data.expected) {
          data.result = 1;
          var audio = new Audio('sound/correct1.mp3');
          audio.play();
      }else{
          data.result = 2;
          var audio = new Audio('sound/incorrect1.mp3');
          audio.play();
      }
      if (select == 0) {
          data.visible_x = false;
      }else{
          data.visible_o = false;
      }
    };
    function doRetry() {
        data.result = 0;
        data.visible_o = true;
        data.visible_x = true;
    };
</script>
</body>
</html>